@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.owned{
margin-left: 470px;
font-weight: bold;
font-size: xx-large;
font-family: 'Poppins', sans-serif;
}

.ownedd{
    margin-left: 400px;
    font-weight: bold;
font-size: xx-large;
font-family: 'Poppins', sans-serif;
margin-top: 100px;
    }