.vehicle-images{
width: 15%;
height: 10%;
position: relative;
right: 500px;
top: 500px;
display: flex;
}

.vehicle-display-image{
    width: 50%;
    height: 50%;
    position: relative;
    top: -100px;
    right: 300px;
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    top: -300px;
    right: -400px;
  }
  
  .spec-details {
    display: flex;
    gap: 50px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  
  li {
    margin-bottom: 5px;
  }

  .vehicle-Name{
position: relative;
top: -430px;
font-size: large;
font-weight: bold;



  }
  