@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.car-container {
    display: flex;
    gap: 190px;
    flex-wrap: wrap;
  }
  
  .car-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    height: 320px;
    background-color: transparent;
    margin-bottom: 20px;
    position: relative;
    top: 100px;
    right: -30px;
  }
  
  .car-image {
    width: 300px; 
    object-fit: scale-down; 
    border-radius: 5px; 
  }
  
  .car-details {
    padding-top: 10px;
  }
  
  #texting{
position: relative;
top: -70px;
  }

  .but{
position: relative;
right: -215px;
top: 25px;
}

h1{
position: relative;
margin-left: 600px;
margin-top: 10px;
font-size: xx-large;
font-family: 'Poppins', sans-serif;
}