.navv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.whyusb{
position: relative;
top: -23px;
margin-left: 200px;


  }

.bg-white {
  background-color: transparent;
}


.loout{
position: relative;
left: 20px;
color: black;
font-weight: bold;
}

.looutt{
  position: relative;
  left: 10px;
  color: black;
  font-weight: bold;
  }