.topSection{
position: relative;
top: -150px;
border: 1px solid #ccc;
padding: 10px;
margin: 10px;
border-radius: 10px; 
width: 330px;
background-color: #ffffff; 
padding: 10px; 
right: -800px;
height: 191px;
}


.bottomSection{
    position: relative;
    top: 0px;
    right: 21px;
    padding: 10px;
    border: 1px solid #ccc;

    margin: 10px;
    width: 330px;
    background-color: #f0eded; 
    }

      .true{
        position: relative;
        bottom: 625px;
        left: 845px;
        font-weight: bold;
      }

      .false{
        position: relative;
        bottom: 620px;
        left: 825px;
        font-weight: bold;
      }