.infos{
position: relative;
left: 900px;
top: 350px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
margin-bottom: 10px;
}

.info{
    position: relative;
    left: 1000px;
    top: 350px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;

    }
.name{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 250px;
    font-family: 'Poppins', sans-serif;
    top: 20px;
    position: relative;
}

.carimages{
position: relative;
top: -250px;
margin-left: 10px;
display: flex;
object-fit: contain;
gap: 50px; 
}

.carImageItem {
    object-fit: contain;
    justify-content: space-between;

  }

  #mainimage{
position: relative;
right: 700px;
max-width: 700px;
max-height: 700px;
top: -650px;


  }

  body {
    overflow-x: hidden;
  }
  

  /* ImageModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.modal-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

/* You can add additional styling as needed */
